body{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.buttons-field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 350px;
}