.display-container{
    background-color: #ffff;
    width: 350px;
    min-height: 85px;
    display: flex;
    justify-content: flex-end;
    border-radius: .6rem;
    margin-bottom: 20px;
}
h1{
    margin-right: 5px;
}